.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-details {
    margin-top: 20px;
}

.detail {
    margin-bottom: 15px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Align to the right */
    margin-bottom: 20px; /*Adjust spacing as needed*/
} 

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 10px; /* Adjust spacing as needed*/
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

p {
    margin: 0;
}
